doctype html 
html
    include includes/head.pug
    body 
        section.container 
            include includes/header.pug
            include includes/menu.pug

            section.content
                h1 Alunos da UMA

            include includes/footer.pug