doctype html
html
    include includes/head.pug
    body 
        section.container
            include includes/header.pug

            section.content
                section.login
                    h1.welcome-message Fazer login
                    form.login-form(action="http://127.0.0.1:3000/logar", method="post")
                        label(for="usuario") Usuário: 
                        input(id="usuario" type="text" name="usuario" required)
                        label(for="senha") Senha: 
                        input(id="senha" type="text" name="senha" required)
                        input.button(type="submit" value="Entrar")  

            - var login_status = loginStatus
            - console.log(login_status)
            if login_status != ''
                div.message-container  
                    p= login_status
                    p.message__close-icon(onclick="messageOff()") X
                script.
                    // escurece o fundo da página para dar ênfase à mensagem
                    - document.querySelector(".container").classList.add("message-on");    

            include includes/footer.pug